<div>

    <h1>Search for firm information:</h1>
    <br>
    <form role="form">
        CVR/Name/P-Name/Firm name:<br>
        <input type="text" name="cvr" ng-model="ctrl.cvr">
        <button type="submit" class="btn btn-success" ng-click="ctrl.getCompany()">Search</button>
    </form>
    <div ng-show="ctrl.company">
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Established:</th>
                    <th>Employees:</th>
                    <th>Industry Description:</th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td>{{ctrl.company.name}}</td>
                    <td>{{ctrl.company.startdate}}</td>
                    <td>{{ctrl.company.employees}}</td>
                    <td>{{ctrl.company.industrydesc}}</td>       
                </tr>    
            </tbody> 
        </table>
    </div>
    <div style="width: 25em ; border-left: 12em">
        <uib-accordion>
            <uib-accordion-group ng-repeat="unit in ctrl.company.productionunits">
                <uib-accordion-heading>
                    {{unit.name}}
                </uib-accordion-heading>
                <ul class="list-group">
                    <li class="list-group-item-info"><b>PNO:</b> {{unit.pno}} </li>
                    <li class="list-group-item-info"><b>Address:</b> {{unit.address}} </li>
                    <li class="list-group-item-info"><b>Zip:</b> {{unit.zipcode}} </li>
                    <li class="list-group-item-info"><b>City:</b> {{unit.city}} </li>
                    <li class="list-group-item-info"><b>Phone:</b> {{unit.phone}} </li>
                    <li class="list-group-item-info"><b>Email:</b> {{unit.email}} </li>
                    <li class="list-group-item-info"><b>Established:</b> {{unit.startadte}} </li>
                    <li class="list-group-item-info"><b>Employees:</b> {{unit.empolyees}} </li>
                    <li class="list-group-item-info"><b>Email:</b> {{unit.email}} </li>
                </ul>
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div> 
